*{
    margin:0;
    padding:0;
    }
  
 body{
    width:100%;
    height:1000px;
    }

.container{
    background-color:red;
    margin: 14px,auto;
    } 

.container hero-image{
    width: 450px;
    height: 650px;
    background-color: darkgray;
    }

.container hero-image img{
    width: 450px;
    height: 650px;
}
    
.form-container{
    width:450px;
    height:650px;
    }
   
        
.footer{
    width:100%;
    height:600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

.footer ul{
    display: flex;
    list-style:none;
    justify-content: space-between;
    }
    
